@import "global/base/css/utilities";
@import "global/components/form/css/native-select";

.segmented-ctrl-trigger {
  padding: 0 rems(20);
  background-color: $white;
  border-right: 1px solid $slate-3;
  font-weight: 700;
  font-size: rems(14);
  line-height: rems(34);
  text-align: center;
  transition: background-color 200ms linear;

  &:focus {
    outline: none;
  }

  .keydown-focus & {
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }

  &:active {
    text-decoration: none;
  }

  &:last-child {
    border-right: none;
  }

  &.active-item {
    background-color: $slate-4;
    color: $white;
  }

  &.disabled,
  &.disabled.active-item {
    background-color: $slate-1;
    color: $slate-3;
    pointer-events: none;

    &:focus {
      text-decoration: none;
    }
  }

  .no-touch & {
    &:hover {
      background-color: $light-gray;
      text-decoration: none;
    }

    &.active-item:hover {
      background-color: $slate-3;
      color: $white;
    }

    &.disabled:hover {
      background-color: $slate-1;
      color: $slate-5;
    }
  }
}

.segmented-ctrl-select {
  @include native-select;
  align-self: stretch;
}
