@import "global/base/css/utilities";

[class*="action-btn-"] {
  background-color: transparent;
  color: $sky-3;
  font-size: rems(16);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  border: none;
  display: inline-flex;
  justify-content: flex-start;

  .no-touch & {
    &:hover {
      color: lighten($sky-3, 5%);
    }
  }

  &.disabled,
  &[disabled] {
    color: $slate-3;
    cursor: default;
    pointer-events: none;

    .no-touch & {
      &:hover {
        color: $slate-3;
      }
    }

    &:visited {
      color: $slate-3;
    }
  }
}

.action-btn-navigate {
  /**
    Changing the display here because this is the only
    action button that should ever go to two lines and
    "display: inline-flex" doesn't position the icon
    correctly when the text is on two lines.
  **/
  display: inline;
  vertical-align: baseline;

  .momacon-glyph-double-chevron,
  .momacon-glyph-chevron-left,
  .momacon-glyph-chevron-right {
    font-size: 0.85em;
  }

  .momacon-glyph-double-chevron,
  .momacon-glyph-chevron-right {
    padding-left: 0.41666em;
  }

  .momacon-glyph-chevron-left {
    padding-right: 0.41666em;
  }
}

.action-btn-sort {
  color: $white;
  font-size: rems(11);
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;

  .momacon-glyph-caret-down,
  .momacon-glyph-caret-up {
    padding-left: 0.41666em;
    font-size: 0.73em;
  }

  &.dark {
    color: $black;
  }

  .no-touch & {
    &:hover {
      color: $white;

      &.dark {
        color: $black;
      }
    }
  }
}

.action-btn-add {
  align-items: baseline;

  .momacon-glyph-plus {
    padding-right: 0.41666em;
    font-size: 0.75em;
    position: relative;
    top: -0.05em;
  }
}

.action-btn-expand {
  align-items: baseline;
  transition: color 400ms linear;

  .momacon-glyph-chevron-down,
  .momacon-glyph-chevron-up {
    margin-left: 0.41666em;
    font-size: 0.75em;
    position: relative;
    transition: transform 300ms ease-in-out;
    transform-origin: 50% 40%;
  }

  &.active {
   .momacon-glyph-chevron-down,
   .momacon-glyph-chevron-up {
     transform: rotate(-180deg);
   }

  }
}

.action-btn-expand-nav {
  @extend .action-btn-expand;
  color: $slate-5;

  .no-touch & {
    &:hover {
      color: $slate-4;

      .momacon-glyph-chevron-down,
      .momacon-glyph-chevron-up {
        color: $slate-4;
      }
    }
  }

}

.action-btn-close {
  align-items: center;
  justify-content: center;

  .momacon-glyph-close {
    font-size: rems(16);
  }
}
