@import "global/base/css/utilities";
// Hidden breadcrumbs are placed in a hidden DOM element through an Apache SSI
// The UL and LI styles below are necessary in order to determine
// the exact with of the breadcrumb text in javascript before displaying
// them on the page

#hidden-breadcrumbs {
  display: none;
}

// Prevents breadcrumbs from collapsing.
.nav-breadcrumbs {
  min-height: 1px;
}

.breadcrumbs {
  color: color('slate-4');
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    &:after {
      padding: 0 rems(5);
      color: inherit;
      font-size: rems(10);
      font-family: "allycons";
      content: "\e622";
    }

    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;

      &::after {
        padding: 0;
        content: "";
      }
    }
  }

  a {
    color: $slate-4;
    text-decoration: none;
    white-space: nowrap;

    .no-touch & {
      &:hover {
        color: $slate-4;
      }
    }
  }

  .active & {
    color: $white;

    a {
      color: $white;

      .no-touch & {
        &:hover {
          color: $white;
        }
      }
    }
  }
}
